In [1]:
import pandas as pd
import json

pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

### Parsing

In [2]:
def flatten_json(y):
    out = {}
    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        else:
            out[name[:-1]] = x
    flatten(y)
    return out

In [21]:
#train
jsonsList_train =  []
for line in open('data/raw/source-4-ds-train.json', 'r'):
    jsonsList_train.append(flatten_json(json.loads(line)))
dataset_train = pd.DataFrame(data=jsonsList_train)
dataset_train.to_csv('data/processed/train.csv', sep =';', index=False)

In [22]:
#test
jsonsList_test =  []
for line in open('data/raw/source-4-ds-test.json', 'r'):
    jsonsList_test.append(flatten_json(json.loads(line)))
dataset_test = pd.DataFrame(data=jsonsList_test)
dataset_test.to_csv('data/processed/test.csv', sep =';', index=False)

### tirando os outliers

In [7]:
dataset.describe()

,usableAreas,parkingSpaces,address_geoLocation_location_lon,address_geoLocation_location_lat,suites,bathrooms,totalAreas,bedrooms,pricingInfos_price,pricingInfos_yearlyIptu,pricingInfos_rentalTotalPrice,pricingInfos_monthlyCondoFee
count,133211.000,129539.000,133953.000,133953.000,120347.000,133051.000,91132.000,130945.000,133964.000,114612.000,28714.000,117127.000
mean,220.483,2.443,-46.643,-23.554,1.107,2.376,13270.587,2.327,663748.352,4182.520,11021.830,1507.679
std,5713.502,5.252,0.318,0.165,1.219,2.146,3682657.704,2.140,1317731.679,850109.115,77012.230,77954.055
min,0.000,0.000,-46.821,-23.848,0.000,0.000,0.000,0.000,70.000,0.000,0.000,0.000
25%,60.000,1.000,-46.684,-23.594,0.000,1.000,60.000,2.000,175000.000,0.000,2310.000,0.000
50%,105.000,2.000,-46.654,-23.559,1.000,2.000,120.000,2.000,371000.000,84.000,4111.500,399.000
75%,200.000,3.000,-46.608,-23.528,2.000,3.000,250.000,3.000,700000.000,364.000,9100.000,861.000
max,2025000.000,589.000,0.000,0.000,80.000,200.000,1111111111.000,600.000,84000000.000,283024210.000,11900000.000,24430000.000

In [19]:
dataset[['title']].sample(300)

                                                    title
106232  ITAIM BIBI - ALTO PADRÃO - PRONTO PARA MORAR -...
12348           Casa em Condominio - Vila Sonia/Sao Paulo
100805    Sobrado em Pirituba  com 3 suítes, Oportunidade
22256             ÓTIMO PRÉDIO COMERCIAL PRÓXIMO AO METRÔ
15127               Reformado  Maria figueiredo 2 Vagas!!
...                                                   ...
128080                   Sobrado Novo Frontal 2 dorm 1 vg
39903      Cerqueira Cesar - Excelente Conjunto Comercial
88440   SãO PAULO - Conjunto Comercial/sala - JARDIM A...
74572        Apartamento para venda Santana 3 dormitórios
76870                        * Freguesia do Ó -  venda !!

[300 rows x 1 columns]

In [ ]:
dataset.describe()