In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.display.float_format = '{:,.2f}'.format

seed=42
np.random.seed = 42

In [2]:
#columns
usefullCollumns_list = ['id','usableAreas','totalAreas','parkingSpaces','address_zone'
,'address_neighborhood','suites','bedrooms','bathrooms','pricingInfos_price','pricingInfos_yearlyIptu'
,'pricingInfos_monthlyCondoFee','interestingFlag']

dtype_list = ['usableAreas','totalAreas','parkingSpaces','suites','bedrooms'
,'pricingInfos_price','pricingInfos_yearlyIptu','pricingInfos_monthlyCondoFee']

In [3]:
#reading
dataset = pd.read_csv('data/processed/train_cleaned.csv.gzip',compression='gzip', sep =';')
dataset[[x for x in dtype_list]] = dataset[[x for x in dtype_list]].astype('float')

In [4]:
_ = dataset.address_neighborhood.nunique()/dataset[dataset.usableAreas!=0].shape[0]
print(f'razão: # de bairros/# de linhas = {_:.2f}')

razão: # de bairros/# de linhas = 0.97

In [5]:
dataset['parkingSpaces'].fillna(dataset['parkingSpaces'].median, inplace = True )
dataset['suites'].fillna(dataset['suites'].median, inplace = True )
dataset['bedrooms'].fillna(dataset['bedrooms'].median, inplace = True )
dataset['bathrooms'].fillna(dataset['bathrooms'].median, inplace = True )
dataset['pricingInfos_monthlyCondoFee'].fillna(dataset['pricingInfos_monthlyCondoFee'].median, inplace = True )

In [10]:
def iptu(x):

    if x['pricingInfos_yearlyIptu'] < 20:
        return x['pricingInfos_price']*0.01
    else:
        return x['pricingInfos_yearlyIptu']

dataset['pricingInfos_yearlyIptu'].fillna(0,inplace = True)
dataset['pricingInfos_yearlyIptu'] = dataset[['pricingInfos_yearlyIptu','pricingInfos_price']].apply(iptu ,axis=1)

In [11]:
dataset[dataset['pricingInfos_yearlyIptu']==0]

Empty DataFrame
Columns: [usableAreas, description, title, createdAt, publisherId, unitTypes, listingStatus, id, parkingSpaces, updatedAt, owner, images, address_country, address_zipCode, address_city, address_streetNumber, address_zone, address_geoLocation_precision, address_geoLocation_location_lon, address_geoLocation_location_lat, address_street, address_locationId, address_district, address_unitNumber, address_state, address_neighborhood, suites, publicationType, bathrooms, totalAreas, bedrooms, pricingInfos_price, pricingInfos_businessType, pricingInfos_period, pricingInfos_yearlyIptu, pricingInfos_rentalTotalPrice, pricingInfos_monthlyCondoFee, usableAreasFromTitle, a, usableAreasFromDescription, vagaFromTitle, b, descriptionAndTitle, interestingFlag]
Index: []